.navbar__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #14274A;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.logo__text {
    font-weight: bold;
    color: #0077ff;
    text-decoration: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 8px;
    z-index: 500;
}

.icons {
    width: 35px;
    height: 3px;
    background: #0077ff;
    transition: all 0.3s ease;
}

.menu-icon.open .icons:nth-child(1) {
    transform: rotate(45deg) translateY(8px)
}

.menu-icon.open .icons:nth-child(2) {
    opacity: 0;
}

.menu-icon.open .icons:nth-child(3) {
    transform: rotate(-45deg) translateY(-14px) translateX(8px)
}

.nav-links {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    transition: all 0.3s ease;
}

.nav-links a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 0.3s;
}

.nav-links a:hover {
    color: #0077ff;
}

@media screen and (max-width: 768px) {
    .menu-icon {
        display: flex;
    }

    .nav-links {
        position: fixed;
        top: -16px;
        left: -1000px;
        width: 100%;
        height: 100vh;
        background: linear-gradient(135deg, #f8faff, #e9f3ff);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 40px;
        gap: 30px;
        box-shadow: 4px 0 15px rgba(0, 0, 0, 0.2);
        transition: left 0.5s ease;
        z-index: 250;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links a {
        font-size: 1.2rem;
        color: #333333;
    }

    .overlay__block {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        transition: 0.3s;
        animation: overlay 0.4s ease;
    }
}

@keyframes overlay {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 480px) {
    .navbar__block {
        padding: 10px 20px;
    }
    .logo__text {
        font-size: 1.8rem;
    }
    .nav-links a {
        font-size: 1.1rem;
    }
}